body,p{
    margin: 0;
    padding: 0;
}

body{
    padding: 100px auto 20px auto;
}

#content {
    margin: 100px auto 20px auto;
    border: 10px solid #4c4c4c;
    width: 500px;
    height: 366px;
    position: relative;
}

#content img{
    position: absolute;
    left: 0;
    top: 0;
    height:366px; 
    width:500px;
}

p{text-align: center;}

#links{
    width: 420px;
    display: flex;
    margin: auto;
}

#links a{
    display: block;
    flex: 1;
    background: #950a0d;
    height:50px;
    line-height: 50px;
    color: #d5d5d5;
    text-decoration: none;
    font-family: Arial;
    text-transform: uppercase;
    text-align: center;
}

#links a:hover{
    background-color: #a51d1f;
    color: #fff;
}


.fadeinimg{
    animation: fadein 3s;
}

@keyframes fadein {
    from{
        opacity: 0;
    }    
    to{
        opacity: 1;
    }
}